@page "/counter"

<h1>Groups</h1>
<h3> @nameGroup </h3>



@code {
    private string nameGroup = string.Empty;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
